.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
 	animation: fadeIn ease .2s;
	animation-iteration-count: 1;
 	animation-fill-mode: forwards;
}

.task-panel {
	position: fixed;
	width: 500px;
	place-self: center;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	background-color: var(--slate-900);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
	padding: 15px;
}

.details-1 {
	display: flex;
	flex-direction: column;
}

.details-2 {
	display: flex;
	gap: 10px;
	padding-bottom: 10px;
	grid-column: 1 / 3;
}

.task-panel > form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
}

.span-2 {
	grid-column: span 2;
}

.details-1 > *,
.details-2 > * {
	font-family: inherit;
	outline: none;
	color: var(--slate-400);
}

.task-panel-title {
	font-weight: bold;
	font-size: 1rem;
	background-color: var(--slate-900);
	border: none;
}

.task-panel-description {
	font-size: 0.8rem;
	border: none;
	resize: none;
	background-color: var(--slate-900);
	scrollbar-width: none;
}

.task-panel > form > button {
	font-family: inherit;
	padding: 8px 15px;
	border: none;
	background-color: var(--slate-950);
	border-radius: 5px;
	color: var(--slate-400);
	cursor: pointer;
}

input[type="date"],
select {
	background-color: white;
	border: 2px solid var(--slate-950);
	border-radius: 5px;
	appearance: none;
	padding: 5px 10px;
	background-color: var(--slate-950);
}
