@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* General Styles */ 

:root {
	--slate-950: #020617;
	--slate-100: #f1f5f9;
	--slate-200: #e2e8f0;
	--slate-50: #f8fafc;

	--orange-500: #f97316;
	--yellow-500: #eab308;
	--lime-500: #84cc16;
	--emerald-500: #059669;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

p, h1 {
	color: var(--slate-950);;
}

h2 {
	font-weight: 600;
	font-size: 1rem;
}

hr {
	border: 1px solid var(--slate-100);
}

.icon {
	width: 25px;
}

.container {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 60px 1fr;
}

.sidebar {
	background-color: var(--slate-50);
	padding: 15px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	grid-row: 1 / 3;
}

.sidebar > div {
	margin-top: 10px;
}

.title {
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}

.project {
	grid-row: 2 / 3;
}

.project-container {
	width: 80%;
	max-width: 800px;
	margin: auto;

	animation: fadeIn ease 1s;
	animation-iteration-count: 1;
 	animation-fill-mode: forwards;
}

.projects-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#task-list {
	display: grid;
	grid-template-columns: minmax(300px, 1fr);
}

#task-list > div {
	margin-top: 10px;
}

#task-list > div > p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#task-list > div > p:nth-child(2) {
	font-size: 0.8rem;
	opacity: 0.5;
}

#task-list > div > hr {
	margin-top: 10px;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
 	animation: fadeIn ease .2s;
	animation-iteration-count: 1;
 	animation-fill-mode: forwards;
}

.new-task {
	position: fixed;
	width: 500px;
	place-self: center;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
	padding: 15px;
}

.details-1 {
	display: flex;
	flex-direction: column;
}

.details-2 {
	display: flex;
	gap: 10px;
	padding-bottom: 10px;
}

.new-task > form {
	display: grid;
	grid-template-columns: 1fr;
}

.details-1 > *,
.details-2 > * {
	font-family: inherit;
	outline: none;
}

#new-task-title {
	font-weight: bold;
	font-size: 1rem;
	border: none;
}

#new-task-description {
	font-size: 0.8rem;
	border: none;
	resize: none;
	scrollbar-width: none;
}

.new-task > form > button[type="submit"] {
  font-family: inherit;
  padding: 8px 15px;
  border: none;
  background-color: var(--slate-950);
  border-radius: 5px;
  color: var(--slate-50);
	cursor: pointer;
}

.new-task > form > hr {
	width: 100%;
}

input[type="date"],
select {
	background-color: white;
	border: 1px solid var(--slate-200);
	border-radius: 5px;
	appearance: none;
	padding: 5px 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
