@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* General Styles */ 

:root {
	--slate-950: #020617;
	--slate-900: #0f172a;
	--slate-400: #94a3b8;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

p, h1, h2 {
	color: var(--slate-400);;
}

h2 {
	font-weight: 600;
	font-size: 1rem;
}

hr {
	border: 1px solid var(--slate-900);
}

.icon {
	width: 25px;
}

.container {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 60px 1fr;
	background-color: var(--slate-950);
}

.sidebar {
	background-color: var(--slate-950);
	padding: 15px;
	grid-row: 1 / 3;
	top: 0;
	bottom: 0;
	position: fixed;
	width: 300px;
}

.sidebar > div {
	margin-top: 10px;
}

.title {
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}

.project {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	margin-bottom: 35px;
}

.project-container {
	width: 80%;
	max-width: 800px;
	margin: auto;

	animation: fadeIn ease 1s;
	animation-iteration-count: 1;
 	animation-fill-mode: forwards;
}

.projects-list {
	margin-top: 10px;
}

.projects-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.priority-color {
	height: 100%;
	width: 5px;
	background-color: var(--slate-400);

	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;	
}

#task-list {
	display: grid;
	grid-template-columns: minmax(300px, 1fr);
}

#task-list > div {
	margin-top: 10px;
	background-color: var(--slate-900);
	border-radius: 5px;

	display: grid;
	grid-template-columns: max-content minmax(100px, 1fr) max-content;
	gap: 5px;
}

.task-complete {
	padding: 20px;
	display: flex;
	align-items: center;
}

.task-complete > input {
	outline: none;
	border: none;
}

.task-details {
	padding: 10px;
}

.task-details > p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.task-details > .task-description,
.task-details > .task-date
{
	font-size: 0.8rem;
	opacity: 0.5;
}

#task-list > div > hr {
	margin-top: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
